# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[{package{,-lock}.json,yarn.lock}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false

[CHANGELOG.md]
indent_style = space
indent_size = 2
